<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>249712102270-clad2bnp1cbhdshf35j9or8ht7jtdno8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.249712102270-clad2bnp1cbhdshf35j9or8ht7jtdno8</string>
	<key>API_KEY</key>
	<string>AIzaSyAq86-AMZx4UqCl2k2SELf0uHXKivIeTu8</string>
	<key>GCM_SENDER_ID</key>
	<string>249712102270</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.raiymbekduldiyev.Crypto</string>
	<key>PROJECT_ID</key>
	<string>crypto-54fea</string>
	<key>STORAGE_BUCKET</key>
	<string>crypto-54fea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:249712102270:ios:db7eb6da97dcd52b32812f</string>
</dict>
</plist>